$white : white;
$whiteRgb : rgb(211, 211, 211);
$blueNumber : #428BCA;
$brown : #202020;
$grey : rgb(155, 151, 151);
$blackRgb : rgba(0, 0, 0, 0.3);
$white2 : rgb(229, 227, 227);
$white3: #eee;
$brown2 : #333;
$white5: rgb(255, 255, 255);
$grey2 : #353131;