$fullscreen: 100%;
$center: center;
$auto: auto;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html, body {
  width: $fullscreen;
  height: $fullscreen;
}

.nav {
  height: 50px;
}

.nav li {
  float: left;
  padding: 15px;
  list-style: none;
  color: white;
}

.container {
  max-width: 1200px;
  margin: $auto;
  overflow: $auto;
}

.card {
  width: 24%;
  border: 1px solid rgb(211, 211, 211);
}
.c {
  margin-left: 3%;
}
.card-container {
  display: flex;
  margin-top: 5px;
}
.card img {
  width: $fullscreen;
  height: $auto;
  padding: 1.8%;
}
.head {
  display: flex;
  justify-content: $center;
  align-items: $center;
}
.disc {
  margin-top: 7%;
  margin-left: 10%;
}
.parentbutton {
  display: flex;
  justify-content: $center;
  align-items: $center;
  padding: 10%;
}
.btn1, .btn2 {
  display: flex;
  justify-content: $center;
  align-items: $center;
  width: 90px;
  height: 40px;
  border-radius: 8px;
}

.btn1 {
  background-color: #428BCA;
  color: rgb(255, 255, 255);
}

.btn2 {
  margin-left: 5%;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 50px;
  width: $fullscreen;
  background-color: #202020;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(155, 151, 151);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  padding-left: 20px;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: rgb(155, 151, 151);
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.container {
  width: 91%;
  height: $auto;
  margin: $auto;
}

.centered-div {
  justify-content: $center;
  align-items: $center;
  height: 90%;
  padding: 5%;
  background-color: rgb(229, 227, 227);
  margin-top: 40px;
  color: #353131;
}

.centered-div h3 {
  position: relative;
  bottom: 10px;
  font-size: 20px;
}

.nav-header {
  margin-left: 9vw;
  position: flex;
}

button {
  cursor: pointer;
}

.card-containerr {
  display: none;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-container {
    display: block;
    width: $fullscreen;
  }
  .card {
    width: 90%;
    margin: $auto;
  }
  .heading {
    margin-left: 5%;
  }

  .card-containerr {
    display: flex;
  }
  .card-container {
    display: none;
  }
  .c {
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .card-container {
    display: block;
    width: $fullscreen;
  }
  .card {
    width: 90%;
    margin: $auto;
  }
  .heading {
    margin-left: 5%;
  }
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: $fullscreen;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: $fullscreen;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: $auto;
  }
}
